@charset "utf-8";

body,html{
	width:100vw;
	height:100vh;
	background:#000;
	font-size:11px;
	line-height:20px;
	overflow-y:hidden;
	overflow-x:auto;
}
a{
	text-decoration:underline;
}
a:hover{
	
}
#loading{
	width:100%;
	height:100%;
	z-index:11;
	background:#000;
	left:0;
	top:0;
	position:fixed;
}


/*button_container*/
#button_container{
	width:30px;
	height:30px;
	position:fixed;
	top:20px;
	left:20px;
	cursor:pointer;
	-webkit-transition:opacity .25s ease;
	transition:opacity .25s ease;
	z-index:20;
}
#button_container:hover{
	opacity:.5;
}
#button_container.active span:nth-of-type(1){
	-webkit-transform:translateY(11px) translateX(0) rotate(45deg);
	transform:translateY(11px) translateX(0) rotate(45deg);
	background:#000;
}
#button_container.active span:nth-of-type(2){
	opacity:0;
	background:#000;
}
#button_container.active span:nth-of-type(3){
	-webkit-transform:translateY(-11px) translateX(0) rotate(-45deg);
	transform:translateY(-11px) translateX(0) rotate(-45deg);
	background:#000;
}
#button_container span{
	height:3px;
	width:100%;
	background:#fff;
	border:none;
	-webkit-transition:all .35s ease;
	transition:all .35s ease;
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
	font-size:5em;
	font-size:calc(7rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
}
#button_container span:nth-of-type(2){
	top:11px;
}
#button_container span:nth-of-type(3){
	top:22px;
}


/*button_container打開後*/
#overlay{
	height:0%;
	background:#FFF;
	position:fixed;
	left:70px;/*nav寬度*/
	top:0;
	z-index:10;
	-webkit-transition:opacity .35s, visibility .35s, height .35s;
	transition:opacity .35s, visibility .35s, height .35s;
	overflow:hidden;
	opacity:1;
	visibility:hidden;
	padding-left:3%;
	padding-right:10%;
}
#overlay nav{
	height:70%;
	position:relative;
	top:60%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
#overlay ul{
	height:100%;
}
#overlay ul li{
	height:30%;
	display:block;
	opacity:0;	
}
#overlay ul li a{
	text-align:left;
	font-size:5em;
	font-size:calc(7rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
	display:block;
	position:relative;
	color:#000;
	text-decoration:none;
	letter-spacing:5px;
}
#overlay ul li a:after{
	content:'';
	position:absolute;
	bottom:-5px;
	left:50%;
	width:0%;
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
	height:5px;
	background:#aaa;
	-webkit-transition:.35s;
	transition:.35s;
}
#overlay ul li a:hover{
	text-decoration:underline;
}
#overlay.open{
	opacity:.9;
	visibility:visible;
	height:100%;
}
#overlay.open li{
	-webkit-animation:fadeInUp .5s ease forwards;
	animation:fadeInUp .5s ease forwards;
	-webkit-animation-delay:.35s;
	animation-delay:.35s;
}
#overlay.open li:nth-of-type(2){
	-webkit-animation-delay:.40s;
	animation-delay:.40s;
}
#overlay.open li:nth-of-type(3){
	-webkit-animation-delay:.45s;
	animation-delay:.45s;
}

/*header_left*/
#header_left{
	width:70px;/*nav寬度*/
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	text-align:center;
	z-index:9;
	background:#000;
	border:#FFF 1px solid;
}
#header_left.change{
	-webkit-transition:background .5s ,border-color .5s;
	transition:background .5s ,border-color .5s;
	background:#aaa;
	border-color:#000;
}
#header_left.change #logo{
	-webkit-transition:border-top-color .5s;
	transition:border-top-color .5s;
	border-top-color:#000;
}
#header_left.change #logo a, #header_left.change #logo p{
	-webkit-transition:color .5s;
	transition:color .5s;
	color:#000;
}


/*logo*/
#logo{
	height:calc(100vh - 70px);
	margin-top:70px;
	margin-left:0;
	border-top:#FFF 1px solid;
	border-left:0;
	padding-top::1em;
	padding-top:calc(100vh/20);
	-webkit-padding-before:calc(100vh/20);
	color:#FFF;
	font-weight:lighter;
	letter-spacing: 5px;
}
#logo a{
	font-size:1.3em;
	font-size:calc(1.3rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
	text-decoration:none;
	-webkit-writing-mode:vertical-lr;
	writing-mode:vertical-lr;
	color:#FFF;
}
#logo_author{
	font-size:1em;
	font-size:calc(1rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
	-webkit-writing-mode:vertical-lr;
	writing-mode:vertical-lr;
	position:fixed;
	bottom:20px;
	left:0;
	line-height:40px;
}


/*content all*/
.fullpage{
	width:100%;
	height:100vh;
	display:flex;
	flex-flow:column;
}
.display{
	display:flex;
	align-content:flex-end;
    justify-content:center;
    align-items:center;
}
.bgwhite{
	background:#FFF;
}
.alignn{
	align-items:normal;
}
.justifyn{
	justify-content: normal
}
.height20{
	margin-top:0;
}
.pheight20{
	padding-top:0;
}
.height40{
	margin-top:0;
}

/*content*/
#top{
	background:url("../img/01top.jpg") center center no-repeat;
	background-size:cover;
	padding-top:0;
	padding-left:70px;
}
#top_2{
	position:absolute;
	left:80px;/*nav寬度*/
	bottom:0;
	width:50%;
}
#top_3{
	position:absolute;
	right:0;
	top:0;
	width:15%;
}
#arrow{
	position:absolute;
	right:0;
	bottom:45vh;
	width:8%;
	opacity:.5;
	transform:rotate(-90deg);
}

#intro{
	background:url("../img/02intro.jpg") center center no-repeat;
	background-size:cover;
}
#intro_2{
	position:absolute;
	left:5%;
	top:4%;
	width:45%;
}
#intro_3{
	position:absolute;
	right:2%;
	bottom:2%;
	width:40%;
}

#work03 img, #work142 img, #work161 img, #work17 img, #work18 img{
	width:auto;
	height:100vh;
}
#work031, #work141, #work162{
	margin:auto;
}
#work04 img, #work05 img, #work07 img, #work09 img, #work15 img{
	width:55vw;
	height:auto;
}
#work06 img, #work10 img, #work11 img, #work13 img{
	width:100vw;
	height:auto;
}
#work08 img{
	width:42vw;
	height:auto;
}
#work12 img{
	width:65vw;
	height:auto;
}
#work121{
	position:absolute;
	left:10%;
	top:4%;
	width:75vw;
}
#work19 img{
	width:auto;
	height:80vh;
}
#work20 img{
	width:16%;
	height:auto;
}
#work21 img{
	width:50%;
	height:auto;
}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
#staff_1{
	width:25%;
	position:absolute;
	left:5%;
	bottom:2%;
}
#staff_2{
	width:10%;
	position:absolute;
	right:2%;
	bottom:3%;
}

/*寬度小於768px*/
@media (max-width: 768px),(max-height:480px){
body,html{
	overflow-y:auto;
	overflow-x:hidden;
}

.flex-nowrap{
-ms-flex-wrap:wrap !important;
flex-wrap:wrap !important;
}
.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}
  
/*button_container*/
#button_container{
	top:23px;
	left:23px;
}

/*button_container打開後*/
#overlay{
	width:100%;
	padding-left:0;
	padding-right:0;
	top:70px;/*nav寬度*/
	left:0;
}
#overlay nav{
	top:50%;
}

/*header_left*/
#header_left{
	width:100%;
	height:70px;
	border:#FFF 1px solid;
}
#header_left.change #logo{
	-webkit-transition:border-left-color .5s;
	transition:border-left-color .5s;
	border-left-color:#000;
}
#header_left.change #logo a{
	-webkit-transition:color .5s;
	transition:color .5s;
	color:#000;
}

/*logo*/
#logo{
	height:inherit;
	margin-top:0;
	margin-left:80px;
	border-top:0;
	border-left:#FFF 1px solid;
	padding-top:1em;
	padding-top: calc(1rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
}
#logo a{
	-webkit-writing-mode:horizontal-tb;
	writing-mode:horizontal-tb;
}
#logo_author{
	visibility:hidden;
}

/*content all*/
.height20{
	margin-top:20px;
}
.pheight20{
	padding-top:20px;
}
.height40{
	margin-top:40px;
}

/*content*/
#top{
	padding-left:0;
	padding-top:110px;
}
#top_2{
	left:10px;
	bottom:8vh;
	width:80%;
}
#top_3{
	right:0;
	top:70px;/*nav寬度*/
	width:25%;
}
#arrow{
	transform:rotate(0deg);
	right:45vw;
	bottom:10px;
}
#intro{
	background:url("../img/02intro.jpg") 43% center no-repeat;
	background-size:cover;
}
#intro_2{
	left:5%;
	top:2%;
	width:80%;
}
#intro_3{
	position:absolute;
	right:0;
	bottom:0;
	width:100%;
}
#work03 img,#work08 img, #work142 img{
	width:auto;
	height:60vh;
}
#work04 img, #work05 img, #work07 img, #work09 img, #work15 img, #work18 img{
	width:100vw;
	height:auto;
}
#work12, #work15{
	height:auto;
	padding-top:20px;
	padding-bottom:20px;
}
#work161 img{
	width:auto;
	height:90vh;
}
#work162 img{
	margin-top:20px;
	width:auto;
	height:60vh;
}
#work17 img, #work19 img{
	width:auto;
	height:60vh;
}
#work20 img{
	width:20%;
	height:auto;
}
#work21 img{
	width:40%;
	height:auto;
}
#staffname{
	width:98%;
	position:absolute;
	right:2%;
	bottom:2%;
}
#myVideo{
	height:100%;
	width:auto;
	position: absolute;
	right: -90%;
	bottom: 0;
}
#staff_1{
	width:50%;
	left:0;
	bottom:0;
}
#staff_2{
	width:20%;
	right:0;
	bottom:0;
}
}

/*寬度大於400px*/
@media (max-width: 360px){
#logo{
	padding-top:.5em;
	padding-top:calc(2rem + (1.3-1.2) * ((100vw - 600px) / (1200 - 600)));
}
}

/*animate*/
.fadeIn img{
	opacity: 0;
}
.fadeIn.is-inview img{
    -webkit-animation:fadeIn 1.2s ease forwards;
	animation:fadeIn 1.2s ease forwards;
	-webkit-animation-delay:.35s;
	animation-delay:.35s;
}
.fadeInUp img{
	opacity: 0;
}
.fadeInUp.is-inview img{
    -webkit-animation:fadeInUp 1.2s ease forwards;
	animation:fadeInUp 1.2s ease forwards;
	-webkit-animation-delay:.35s;
	animation-delay:.35s;
}
.fadeInDown img{
	opacity: 0;
}
.fadeInDown.is-inview img{
    -webkit-animation:fadeInDown 1.2s ease forwards;
	animation:fadeInDown 1.2s ease forwards;
	-webkit-animation-delay:.35s;
	animation-delay:.35s;
}
.fadeInRight img{
	opacity: 0;
}
.fadeInRight.is-inview img{
    -webkit-animation:fadeInRight 1.2s ease forwards;
	animation:fadeInRight 1.2s ease forwards;
	-webkit-animation-delay:.35s;
	animation-delay:.35s;
}
.fadeInLeft img{
	opacity: 0;
}
.fadeInLeft.is-inview img{
    -webkit-animation:fadeInLeft 1.2s ease forwards;
	animation:fadeInLeft 1.2s ease forwards;
	-webkit-animation-delay:.35s;
	animation-delay:.35s;
}
.zoomIn img{
	opacity: 0;
}
.zoomIn.is-inview img{
    -webkit-animation:zoomIn 1.2s ease forwards;
	animation:zoomIn 1.2s ease forwards;
	-webkit-animation-delay:.35s;
	animation-delay:.35s;
}

@media (max-width: 768px),(max-height:480px){
.fadeIn img{
	opacity: 1;
}
.fadeIn.is-inview img{
    -webkit-animation:none;
    animation:none;
}
.fadeInUp img{
	opacity: 1;
}
.fadeInUp.is-inview img{
    -webkit-animation:none;
    animation:none;
}
.fadeInDown img{
	opacity: 1;
}
.fadeInDown.is-inview img{
    -webkit-animation:none;
    animation:none;
}
.fadeInRight img{
	opacity: 1;
}
.fadeInRight.is-inview img{
    -webkit-animation:none;
    animation:none;
}
.fadeInLeft img{
	opacity: 1;
}
.fadeInLeft.is-inview img{
    -webkit-animation:none;
    animation:none;
}
.zoomIn img{
	opacity: 1;
}
.zoomIn.is-inview img{
    -webkit-animation:none;
    animation:none;
}
}
